{#
/**
 * @file
 * Text Links Image Organism
 * 
 * Available variables:
 * - title: Título principal del componente
 * - items: Array de objetos con:
 *   - titulo: Título del ítem
 *   - numero_ley: Número de la ley
 *   - button_label: Texto del botón
 *   - button_url: URL del botón
 *   - archivo_url: (opcional) URL del archivo para descarga
 * - imagen_url: URL de la imagen
 * - imagen_alt: Texto alternativo de la imagen
 * - text_links_image_modifiers: Modificadores BEM
 * - text_links_image_blockname: Nombre de bloque BEM
 */
#}

{% set text_links_image_base_class = 'text-links-image' %}

<section {{ bem(text_links_image_base_class, text_links_image_modifiers, text_links_image_blockname, ['section-margin']) }}>
  <div class="container">
    <div class="row align-items-center">
      {# Columna de contenido de texto y enlaces #}
      <div class="col-12 col-lg-7">
        <div class="text-links-image__content">
          {# Título principal #}
          {% if title %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_level: 2,
              heading: title,
              heading_icon: true,
              heading_underline: true,
              heading_base_class: 'text-links-image__title',
            } %}
          {% endif %}

          {# Lista de ítems #}
          {% if items %}
            <div class="text-links-image__items">
              {% for item in items %}
                <div class="text-links-image__item">

                    <div class="text-links-image__subcontent-info-item">
                        {% if item.titulo %}
                            {% include "@atoms/text/text/01-paragraph.twig" with {
                                paragraph_content: item.titulo,
                                paragraph_base_class: 'text-links-image__item-title',
                                paragraph_modifiers: ['small',],
                            } %}
                            
                        {% endif %}

                        {% if item.numero_ley %}
                            {% include "@atoms/text/text/01-paragraph.twig" with {
                                paragraph_content: item.numero_ley,
                                paragraph_base_class: 'text-links-image__item-number',
                                paragraph_modifiers: ['small'],
                            } %}
                        {% endif %}
                    </div>

                  {# Botón #}
                  {% if item.button_label %}
                    <div class="text-links-image__item-button">
                        {% include "@atoms/buttons/button.twig" with {
                        button_content: item.button_label,
                        button_url: item.archivo_url ? item.archivo_url : item.button_url,
                        button_modifiers: ['secondary', 'medium', 'text-links-image__item-button'],
                        is_download: item.archivo_url ? true : false,
                        } %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>

      {# Columna de imagen #}
      <div class="col-12 col-lg-5 text-links-image__content-izquierdo">
        <div class="text-links-image__image-wrapper">
          {% if imagen_url %}
            <img 
              src="{{ imagen_url }}" 
              alt="{{ imagen_alt|default('') }}" 
              class="text-links-image__image"
            />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
