<div class="container">
  <div class="wrapper-new-style">
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: title,
      heading_level: 1,
      heading_modifiers: ['main-title'],
      heading_icon: true,
      heading_underline: true
    } only %}
  </div>
</div>