.no-resultados {
  h3 {
    color: var(--tpms-azul-presi);
    margin-bottom: var(--spacing-md);
  }

  p {
    color: var(--grey-2);
    font-size: 1rem !important;
  }

  .button {
    margin-top: var(--spacing-xxl);
  }
}
