$defaultColors: (
  'black': $black,
  'white': $white,
  grey-1: $grey-1,
  grey-2: $grey-2,
  grey-3: $grey-3,
  grey-4: $grey-4,
  gris-neblina: $gris-neblina,

  azul-cielo: $azul-cielo,
  azul-presi: $azul-presi,
  primary-d1: $primary-d1,

  amarillo-paz: $amarillo-paz,
  oro-libertad: $oro-libertad,
  comple-d1: $comple-d1,

  success-l1: $success-l1,
  success: $success,
  success-d1: $success-d1,

  warning-l1: $warning-l1,
  warning: $warning,
  warning-d1: $warning-d1,

  error-l1: $error-l1,
  error: $error,
  error-d1: $error-d1,
);
