.tpms-ccp-slider {
  --ccp-panel: #60676cb2;

  background: var(--tpms-negro);
  color: #fff;
  padding: 48px 0 38px 0;
  position: relative;
  margin-bottom: var(--spacing-xl);
  @include large {
    margin-bottom: var(--spacing-xxxl);
    padding: var(--spacing-xxxl) 0;
  }

  &::after {
    @include large {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 634px;
      height: 385px;
      background-image: url('data:image/svg+xml,<svg width="634" height="385" viewBox="0 0 634 385" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M144.356 149.589C148.568 145.382 151.437 140.02 152.6 134.183C153.764 128.345 153.169 122.293 150.893 116.793C148.616 111.293 144.76 106.592 139.811 103.284C134.862 99.9765 129.043 98.2109 123.09 98.2109C117.138 98.2109 111.319 99.9765 106.37 103.284C101.421 106.592 97.5642 111.293 95.2876 116.793C93.011 122.293 92.4169 128.345 93.5804 134.183C94.7439 140.02 97.6127 145.382 101.824 149.589C104.616 152.383 107.931 154.6 111.58 156.112C115.229 157.625 119.14 158.403 123.09 158.403C127.04 158.403 130.951 157.625 134.6 156.112C138.249 154.6 141.565 152.383 144.356 149.589Z" fill="%23171717"/><path d="M63.3545 240.003C78.657 250.615 95.9044 245.552 108.318 233.139C113.152 228.333 115.783 221.412 112.494 214.833C109.524 208.563 105.102 203.092 99.5942 198.872C116.223 190.446 134.889 186.877 153.453 188.576C167.068 189.662 180.483 195.497 193.154 203.506C196.014 207.596 198.875 211.515 201.735 215.291C205.196 219.867 208.857 224.272 212.604 228.619C178.967 217.922 141.412 221.926 117.585 251.33C98.7361 274.584 107.546 323.638 137.007 335.308C150.679 340.742 162.749 337.253 174.19 328.529C185.632 319.805 188.95 299.926 171.673 296.751C171.21 296.724 170.747 296.79 170.309 296.944C169.872 297.099 169.47 297.339 169.126 297.65C168.783 297.962 168.505 298.339 168.308 298.759C168.112 299.179 168.002 299.634 167.984 300.098C168.327 306.047 172.903 311.539 168.212 316.745C163.979 321.607 156.771 325.755 150.307 324.753C139.409 323.095 133.346 312.111 131.544 302.157C126.881 276.415 149.506 256.393 172.417 252.102C199.761 247.126 227.535 263.887 249.473 277.845C254.021 280.705 258.426 283.909 262.773 287.112C251.491 285.238 239.913 287.557 230.223 293.634C215.579 302.043 208.399 319.376 210.402 335.794C212.776 355.559 234.17 358.877 248.758 350.696C250.647 349.759 252.301 348.408 253.596 346.743C254.891 345.079 255.793 343.143 256.236 341.081C256.678 339.019 256.65 336.884 256.153 334.834C255.655 332.785 254.702 330.874 253.363 329.244C251.724 326.904 249.596 324.948 247.127 323.511C244.658 322.074 241.906 321.19 239.062 320.921C239.309 320.363 239.586 319.819 239.891 319.29C241.958 315.818 244.888 312.94 248.397 310.935C251.905 308.931 255.872 307.868 259.913 307.849C271.097 308.45 280.765 308.765 291.376 312.998C297.097 315.229 303.475 320.091 309.968 321.75L320.208 311.51C318.746 307.366 316.908 303.364 314.716 299.554C309.224 288.514 307.794 279.103 306.822 267.062C306.05 257.537 307.251 251.645 314.087 244.437C315.707 242.755 317.654 241.422 319.807 240.518C319.807 246.239 323.44 251.473 329.189 255.906C330.689 256.922 332.374 257.632 334.148 257.995C335.923 258.357 337.751 258.366 339.529 258.021C341.307 257.676 342.999 256.982 344.508 255.982C346.018 254.981 347.315 253.691 348.325 252.188C356.905 236.971 356.19 220.725 338.771 213.088C322.696 205.88 302.646 217.55 293.293 230.078C284.426 241.948 284.111 252.961 286.485 265.317C283.282 260.998 280.164 256.736 277.189 252.131C262.03 229.249 248.157 203.506 250.617 174.903C252.877 149.161 274.644 131.999 299.728 133C308.652 133.286 319.75 139.693 322.61 148.474C324.67 154.595 322.611 159.744 319.35 164.921C313.257 174.474 307.909 169.898 299.042 169.44C298.501 169.421 297.962 169.524 297.467 169.743C296.972 169.962 296.533 170.29 296.183 170.703C295.833 171.116 295.582 171.603 295.448 172.128C295.314 172.652 295.301 173.2 295.409 173.731C298.498 191.064 318.292 185.858 326.644 176.133C335.739 165.665 339.2 152.45 334.395 139.379C333.994 138.292 333.451 137.319 332.965 136.289C331.849 134.459 330.791 132.628 329.761 130.769C313.4 107.343 272.413 103.225 250.646 118.584C219.183 140.809 216.837 180.967 227.764 214.947C224.503 212.087 221.214 209.055 217.81 206.195C213.205 202.333 208.285 198.587 203.108 195.011C195.175 182.712 189.778 168.951 187.233 154.538C184.373 135.717 189.293 117.583 197.559 101.137C202.093 106.814 207.879 111.366 214.463 114.437C217.009 115.461 219.787 115.768 222.495 115.324C225.202 114.88 227.737 113.703 229.823 111.92C241.264 100.479 248.415 86.7495 242.036 70.5889C237.031 57.8607 222.586 46.3337 208.428 48.5075C182.399 52.4547 169.214 84.0323 165.238 106.772C160.833 132.085 168.47 158.257 180.597 181.482C157.486 169.726 131.629 162.747 106.917 166.151C85.2356 169.011 55.4315 181.597 48.5096 204.565C43.6185 219.495 51.6273 231.88 63.3545 240.003Z" fill="%23171717"/><path d="M624.23 149.594C628.437 145.385 631.302 140.024 632.462 134.187C633.623 128.351 633.026 122.301 630.748 116.803C628.471 111.306 624.614 106.607 619.666 103.301C614.718 99.995 608.9 98.2305 602.95 98.2305C596.999 98.2305 591.181 99.995 586.233 103.301C581.285 106.607 577.429 111.306 575.151 116.803C572.873 122.301 572.277 128.351 573.437 134.187C574.597 140.024 577.462 145.385 581.669 149.594C587.316 155.232 594.97 158.399 602.95 158.399C610.929 158.399 618.583 155.232 624.23 149.594Z" fill="%23171717"/><path d="M619.538 166.33C594.825 162.927 568.968 169.906 545.885 181.662C557.984 158.322 565.621 132.265 561.217 106.951C557.241 84.2118 544.055 52.6057 518.055 48.6872C503.753 46.5133 489.452 58.0402 484.418 70.7684C478.039 86.929 485.133 100.544 496.631 112.1C498.717 113.882 501.252 115.06 503.96 115.503C506.667 115.947 509.445 115.64 511.991 114.617C518.576 111.545 524.361 106.993 528.895 101.316C537.161 117.763 542.196 135.897 539.25 154.718C536.695 169.133 531.288 182.893 523.346 195.191C518.169 198.766 513.25 202.513 508.645 206.374C505.269 209.235 501.961 212.152 498.719 215.127C509.474 181.147 507.157 140.988 475.665 118.764C453.927 103.404 412.939 107.523 396.55 130.949C395.549 132.808 394.462 134.638 393.347 136.469C392.86 137.499 392.317 138.471 391.916 139.558C387.111 152.63 390.572 165.844 399.668 176.313C408.105 186.038 427.841 191.243 430.931 173.91C431.039 173.38 431.026 172.832 430.892 172.307C430.758 171.783 430.506 171.296 430.157 170.882C429.807 170.469 429.368 170.141 428.873 169.922C428.377 169.704 427.839 169.6 427.298 169.62C418.46 170.077 412.997 174.654 406.99 165.1C403.672 159.923 401.641 154.775 403.701 148.654C406.704 139.873 417.745 133.466 426.583 133.18C451.668 132.322 473.434 149.312 475.694 175.083C478.182 203.428 464.253 229.228 449.122 252.31C446.262 256.801 443.03 261.177 439.855 265.496C442.2 253.283 441.886 242.128 433.019 230.258C423.666 217.73 403.615 206.06 387.54 213.268C370.121 221.048 369.435 237.151 377.987 252.368C378.997 253.871 380.294 255.16 381.803 256.161C383.312 257.162 385.004 257.855 386.782 258.2C388.56 258.546 390.389 258.537 392.163 258.174C393.937 257.811 395.623 257.102 397.122 256.086C402.843 251.653 406.389 246.533 406.532 240.698C408.676 241.619 410.62 242.95 412.253 244.616C419.06 251.824 420.262 257.716 419.489 267.241C418.517 279.283 417.087 288.693 411.595 299.734C409.413 303.544 407.584 307.546 406.132 311.69L416.372 321.93C422.836 320.271 429.329 315.408 434.935 313.177C445.547 308.944 455.243 308.629 466.398 308.029C470.44 308.041 474.409 309.102 477.919 311.108C481.428 313.113 484.357 315.994 486.42 319.47C486.725 319.998 487.002 320.543 487.25 321.1C484.405 321.37 481.654 322.254 479.184 323.691C476.715 325.128 474.587 327.084 472.948 329.424C471.611 331.055 470.659 332.968 470.163 335.019C469.668 337.07 469.642 339.206 470.088 341.268C470.533 343.33 471.438 345.265 472.736 346.929C474.034 348.592 475.69 349.942 477.582 350.876C492.141 359.056 513.536 355.738 515.938 335.974C517.94 319.641 510.733 302.222 496.088 293.813C486.399 287.734 474.82 285.415 463.538 287.292C467.885 284.088 472.29 280.942 476.838 278.024C498.777 264.009 526.55 247.248 553.894 252.282C576.777 256.487 599.459 276.48 594.768 302.337C592.994 312.291 586.93 323.274 576.004 324.933C569.483 325.934 562.361 321.787 558.099 316.924C553.408 311.575 558.099 306.227 558.356 300.277C558.334 299.813 558.221 299.357 558.021 298.936C557.822 298.516 557.541 298.139 557.196 297.828C556.85 297.517 556.446 297.277 556.006 297.123C555.567 296.969 555.102 296.904 554.638 296.931C537.476 300.106 540.823 320.185 552.121 328.709C563.419 337.232 575.69 340.922 589.305 335.487C618.766 323.817 627.604 274.764 608.726 251.51C584.9 222.106 547.344 218.102 513.707 228.799C517.483 224.451 521.115 220.047 524.605 215.47C527.465 211.695 530.325 207.776 533.014 203.686C545.685 195.677 559.128 189.842 572.715 188.755C591.288 187.059 609.963 190.628 626.603 199.052C621.086 203.27 616.655 208.741 613.674 215.012C610.413 221.591 613.016 228.513 617.85 233.318C630.292 245.732 647.511 250.794 662.814 240.183C674.541 232.06 682.55 219.532 678.088 204.916C670.966 181.776 641.219 169.305 619.538 166.33Z" fill="%23171717"/><path d="M229.394 617.075C227.314 615.28 224.779 614.096 222.069 613.652C219.358 613.207 216.578 613.521 214.034 614.558C207.444 617.619 201.656 622.173 197.13 627.858C188.864 611.411 183.858 593.277 186.804 574.456C189.367 560.093 194.763 546.383 202.679 534.127C207.856 530.551 212.776 526.804 217.381 522.943C220.784 520.083 224.074 517.222 227.334 514.191C216.551 548.142 218.754 588.329 250.217 610.553C271.983 625.913 312.971 621.794 329.332 598.369C330.362 596.509 331.42 594.65 332.536 592.848C333.022 591.819 333.565 590.846 333.966 589.759C338.771 576.688 335.31 563.473 326.214 553.004C317.805 543.279 298.069 538.074 294.98 555.407C294.872 555.937 294.885 556.486 295.019 557.01C295.153 557.535 295.404 558.022 295.754 558.435C296.104 558.848 296.543 559.176 297.038 559.395C297.533 559.614 298.072 559.717 298.613 559.698C307.451 559.211 312.914 554.635 318.921 564.217C322.21 569.394 324.241 574.542 322.181 580.635C319.178 589.444 308.138 595.851 299.299 596.137C274.215 596.996 252.448 580.006 250.188 554.234C247.728 525.889 261.629 500.089 276.76 477.007C279.62 472.516 282.853 468.168 286.056 463.849C283.682 476.063 283.997 487.218 292.864 499.088C302.217 511.588 322.267 523.258 338.342 516.078C355.761 508.298 356.448 492.166 347.895 476.95C346.883 475.449 345.585 474.162 344.074 473.164C342.564 472.166 340.871 471.475 339.094 471.133C337.316 470.79 335.488 470.801 333.715 471.166C331.942 471.531 330.258 472.243 328.76 473.26C323.04 477.693 319.493 482.813 319.378 488.648C317.225 487.745 315.278 486.411 313.658 484.729C306.822 477.522 305.62 471.601 306.393 462.105C307.365 450.063 308.795 440.653 314.287 429.612C316.473 425.8 318.311 421.798 319.779 417.656L309.539 407.416C303.046 409.075 296.553 413.938 290.947 416.169C280.335 420.402 270.668 420.716 259.484 421.317C255.443 421.299 251.476 420.236 247.968 418.231C244.459 416.226 241.529 413.348 239.462 409.876C239.147 409.333 238.89 408.789 238.633 408.246C241.477 407.976 244.229 407.092 246.698 405.655C249.167 404.218 251.295 402.262 252.934 399.922C254.273 398.292 255.226 396.382 255.723 394.332C256.221 392.283 256.249 390.147 255.806 388.085C255.364 386.023 254.462 384.088 253.167 382.423C251.872 380.758 250.218 379.407 248.329 378.47C233.742 370.29 212.346 373.608 209.972 393.344C207.97 409.704 215.15 427.095 229.794 435.533C239.486 441.604 251.059 443.933 262.344 442.083C257.997 445.258 253.592 448.404 249.044 451.321C227.106 465.337 199.332 482.098 171.988 477.064C149.106 472.859 126.452 452.866 131.115 427.009C132.917 417.055 138.98 406.072 149.878 404.413C156.428 403.412 163.55 407.559 167.783 412.393C172.474 417.77 167.783 423.119 167.555 429.069C167.573 429.532 167.683 429.987 167.879 430.407C168.075 430.828 168.353 431.205 168.697 431.516C169.041 431.828 169.443 432.068 169.88 432.222C170.317 432.376 170.781 432.442 171.244 432.415C188.406 429.211 185.088 409.161 173.761 400.609C162.435 392.056 150.193 388.424 136.578 393.858C107.117 405.5 98.3071 454.582 117.156 477.836C140.983 507.24 178.538 511.244 212.175 500.547C208.428 504.895 204.767 509.299 201.306 513.876C198.446 517.651 195.585 521.57 192.725 525.66C180.054 533.669 166.639 539.504 153.024 540.591C134.46 542.289 115.793 538.72 99.1651 530.294C104.672 526.074 109.095 520.603 112.065 514.333C115.354 507.755 112.723 500.833 107.889 495.999C95.4753 483.614 78.2279 478.551 62.9253 489.163C51.1982 497.286 43.1893 509.814 47.6513 524.43C54.6304 547.312 84.3775 559.869 106.058 562.844C130.771 566.247 156.628 559.268 179.739 547.513C167.612 570.853 159.975 596.91 164.38 622.223C168.355 644.962 181.541 676.569 207.57 680.487C221.728 682.661 236.173 671.134 241.178 658.406C248.129 642.274 240.921 628.687 229.394 617.075Z" fill="%23171717"/><path d="M662.67 489.226C647.367 478.614 630.149 483.677 617.706 496.062C612.873 500.896 610.27 507.817 613.53 514.396C616.511 520.668 620.943 526.139 626.459 530.356C609.82 538.781 591.144 542.349 572.571 540.654C558.985 539.567 545.541 533.732 532.87 525.723C530.01 521.633 527.293 517.714 524.461 513.938C520.971 509.362 517.339 504.957 513.563 500.61C547.2 511.307 584.756 507.303 608.582 477.899C627.46 454.645 618.622 405.562 589.161 393.921C575.488 388.486 563.418 391.976 551.977 400.671C540.536 409.367 537.247 429.274 554.494 432.478C554.958 432.505 555.424 432.439 555.863 432.285C556.302 432.131 556.706 431.892 557.052 431.58C557.398 431.269 557.678 430.892 557.877 430.472C558.077 430.052 558.19 429.596 558.212 429.131C557.841 423.182 553.264 417.833 557.955 412.456C562.217 407.622 569.396 403.474 575.86 404.475C586.787 406.134 592.851 417.118 594.624 427.072C599.315 452.814 576.661 472.836 553.75 477.127C526.406 482.104 498.633 465.342 476.694 451.384C472.146 448.524 467.742 445.32 463.394 442.145C474.68 443.998 486.253 441.669 495.944 435.595C510.589 427.157 517.797 409.853 515.794 393.406C513.392 373.67 491.997 370.352 477.438 378.533C475.546 379.467 473.89 380.816 472.592 382.48C471.295 384.143 470.389 386.078 469.944 388.141C469.498 390.203 469.524 392.339 470.02 394.39C470.515 396.441 471.467 398.353 472.804 399.985C474.444 402.325 476.571 404.281 479.041 405.718C481.51 407.155 484.262 408.039 487.106 408.308C486.848 408.852 486.591 409.395 486.276 409.939C484.213 413.414 481.284 416.296 477.775 418.301C474.266 420.306 470.296 421.367 466.254 421.38C455.071 420.779 445.374 420.465 434.791 416.231C429.071 414 422.692 409.138 416.228 407.479L405.988 417.719C407.446 421.86 409.274 425.862 411.451 429.674C416.943 440.715 418.373 450.126 419.346 462.167C420.118 471.664 418.917 477.584 412.109 484.792C410.476 486.459 408.533 487.79 406.389 488.711C406.389 482.99 402.727 477.756 396.978 473.322C395.48 472.305 393.797 471.594 392.023 471.229C390.25 470.864 388.422 470.853 386.645 471.195C384.867 471.538 383.174 472.228 381.664 473.227C380.154 474.225 378.855 475.511 377.843 477.012C369.262 492.229 369.977 508.475 387.396 516.141C403.471 523.32 423.522 511.65 432.875 499.151C441.742 487.281 442.056 476.269 439.711 463.912C442.886 468.231 446.032 472.493 448.978 477.069C464.138 499.952 478.039 525.866 475.55 554.297C473.291 580.039 451.524 597.201 426.439 596.2C417.515 595.914 406.417 589.507 403.557 580.697C401.498 574.605 403.557 569.456 406.846 564.279C412.91 554.697 418.287 559.274 427.154 559.76C427.695 559.78 428.234 559.676 428.729 559.458C429.224 559.239 429.663 558.911 430.013 558.497C430.363 558.084 430.614 557.597 430.748 557.073C430.882 556.548 430.895 556 430.787 555.47C427.698 538.136 407.904 543.342 399.524 553.067C390.428 563.536 386.967 576.75 391.772 589.822C392.173 590.909 392.716 591.881 393.203 592.911C394.318 594.713 395.405 596.572 396.406 598.431C412.796 621.857 453.783 625.976 475.522 610.616C506.985 588.392 509.33 548.205 498.576 514.253C501.817 517.228 505.126 520.145 508.501 523.005C513.106 526.867 518.025 530.614 523.203 534.189C531.145 546.487 536.551 560.247 539.106 574.662C541.966 593.483 537.018 611.617 528.751 628.064C524.225 622.379 518.438 617.825 511.847 614.763C509.304 613.727 506.523 613.413 503.813 613.857C501.102 614.301 498.567 615.486 496.488 617.28C485.046 628.722 477.896 642.422 484.274 658.611C489.308 671.34 503.753 682.867 517.911 680.693C543.94 676.746 557.097 645.168 561.073 622.429C565.477 597.115 557.841 570.944 545.742 547.718C568.824 559.474 594.681 566.453 619.394 563.049C641.075 560.189 670.879 547.604 677.801 524.636C682.406 509.877 674.311 497.349 662.67 489.226Z" fill="%23171717"/><path d="M361.397 18.106C402.022 18.0596 442.331 25.2361 480.442 39.3006C486.441 34.6585 492.924 30.6785 499.778 27.4304C411.99 -8.81391 313.483 -9.15272 225.448 26.4866C231.685 30.1622 237.589 34.373 243.096 39.0718C280.985 25.1613 321.036 18.0634 361.397 18.106Z" fill="%23171717"/><path d="M30.7477 238.431C28.7169 235.571 26.8005 232.339 25.0272 229.164C-8.81049 315.427 -8.31924 411.375 26.4001 497.287C29.0601 490.212 32.3432 483.387 36.2108 476.893C36.5826 476.292 37.0118 475.749 37.3836 475.177C11.6602 401.542 11.6602 321.362 37.3836 247.727C34.981 244.581 32.7785 241.435 30.7477 238.431Z" fill="%23171717"/><path d="M316.776 362.714C316.77 371.529 319.379 380.148 324.272 387.48C329.165 394.812 336.123 400.528 344.266 403.906C352.408 407.283 361.369 408.17 370.015 406.453C378.662 404.737 386.605 400.495 392.84 394.264C399.075 388.033 403.322 380.092 405.044 371.447C406.766 362.802 405.885 353.84 402.513 345.696C399.141 337.551 393.429 330.59 386.1 325.692C378.771 320.794 370.154 318.18 361.339 318.18C349.525 318.18 338.195 322.871 329.838 331.222C321.482 339.573 316.783 350.9 316.776 362.714Z" fill="%23171717"/></svg>');
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
      opacity: 0.18;
      pointer-events: none;
      z-index: 0;
    }
  }

  &__inner {
    padding: 0 15px;
    @include large {
      padding: 0 122px;
    }
    @media (max-width: 1330px) {
      padding: 0 15px;
    }
  }

  &__header {
    max-width: 772px;
    padding-bottom: var(--spacing-xxl);

    .heading {
      .tpms-ccp-slider__title {
        color: #fff;
      }

      margin-bottom: var(--spacing-md);
    }
    @include large {
      padding-bottom: 72px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 364px 1fr;
    gap: var(--spacing-xl);
    padding-top: 0;
    @media (max-width: 1125px) {
      display: flex;
      gap: 32px;
      align-items: stretch;
      flex-direction: column;
    }
  }

  &__nav {
    position: relative;
    width: 100%;
    padding-left: 16px;
    height: max-content;
    @include large {
      padding-left: 33.63px;
    }

    .splide__track {
      overflow: visible;
      height: max-content !important;
      display: flex;
      flex-direction: column;
    }

    .splide__slide {
      padding: 16px 0;
    }
  }

  &__nav-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--grey-4);
    border-radius: 2px;
  }

  &__nav-item {
    width: 100%;
    text-align: left;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgb(247 247 248 / 50%);
    padding-bottom: var(--spacing-md);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  &__nav-label {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &__nav-text {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: anywhere;
  }

  &__nav .splide__slide.is-active &__nav-item {
    color: var(--tpms-oro-libertad);

    .tpms-ccp-slider__nav-text {
      color: var(--tpms-oro-libertad);
    }

    &::before {
      content: '';
      position: absolute;
      left: -18px;
      top: -4px;
      bottom: 6px;
      width: 6px;
      height: 74px;
      background: var(--tpms-oro-libertad);
      @include large {
        left: -35px;
      }
    }
  }

  /* CARD */
  &__card {
    position: relative;
    width: 100%;
    max-width: 345px;
    box-sizing: border-box;
    padding-top: 246px;

    @include large {
      padding-top: 0;
      min-height: 409px;
      max-width: 760px;
      padding-right: 32px;
      left: 128px;
    }
    @include xxl {
      left: 214px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 250px;
    height: 278px;
    z-index: 2;
    overflow: hidden;
    @include large {
      left: -176px;
      top: 50%;
      transform: translate(48px, -50%);
      width: max-content;
      height: max-content;
    }
  }

  &__panel {
    background: var(--ccp-panel);
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 327px;
    min-height: 475px;
    margin-left: 0;
    padding: 48px 15px 24px;
    padding-top: var(--spacing-xxl);

    @include large {
      --ccp-overlap: 124px;

      min-height: 409px;
      max-width: 462px;
      margin-left: var(--ccp-overlap);
      padding: 24px 21px 24px 64px;
    }
  }

  &__contact {
    margin-bottom: var(--spacing-lg);
    line-height: 1.45;
  }

  &__link {
    color: rgb(255 255 255 / 90%);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    &:hover {
      color: #fff;
    }
  }

  &__body {
    max-width: 640px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__watermark {
    position: absolute;
    right: -160px;
    bottom: -170px;
    width: 560px;
    height: 560px;
    background: rgb(0 0 0 / 18%);
    border-radius: 50%;
    pointer-events: none;
  }

  &__role {
    margin: 0 0 8px;
    color: var(--tpms-oro-libertad);
    font-size: 16px;
  }

  &__name {
    margin: 0 0 10px;
    font-family: Playfair;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }

  &__contact {
    margin: 0 0 var(--spacing-lg);
    line-height: 1.4;
  }

  &__link {
    color: var(--gris-neblin);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-style: solid;
  }

  &__body {
    color: rgb(255 255 255 / 92%);

    p {
      font-size: 14px;
    }
  }

  .tpms-ccp-slider {
    &__nav {
      .splide__list {
        flex-direction: column;
        padding-inline-start: 0 !important;
      }
      .splide__slide {
        list-style: none !important;
      }
    }

    &__main {
      .splide__slide {
        list-style: none !important;
        display: flex;
        justify-content: center;
        @include large {
          width: 100% !important;
          flex: 0 0 100% !important;
          justify-content: start;
        }
        &.is-active {
          margin-bottom: 4px;
          @include large {
            margin-bottom: 0;
          }
        }
      }

      .splide__list {
        min-width: 327px;
        flex-direction: row !important;
        padding-inline-start: 0 !important;
        gap: 2px;
        @include large {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
  }

  .splide__track--nav > .splide__list > .splide__slide {
    padding-top: 0;
    padding-bottom: var(--spacing-md);

    height: auto !important;
    &:last-child {
      padding-bottom: 0;
    }
  }

  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none;
  }
}
