{#
/**
 * @file
 * Media Resources Section - Organismo
 * 
 * Available variables:
 * - button_url - URL del botón (requerido)
 * - section_modifiers - Modificadores BEM para la sección (opcional)
 */
#}

{% set section_base_class = section_base_class|default('media-resources') %}

<section {{ bem(section_base_class, section_modifiers) }}>
  <div class="{{ section_base_class }}__container">
    
    <div class="{{ section_base_class }}__content">
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: 'RECURSOS MULTIMEDIA',
        heading_base_class: section_base_class ~ '__title',
        heading_icon: true,
        heading_underline: true,
      } only %}
   
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_content: 'Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Iputate libero et dolor sit amet, consectetur dolor sit amet, consectetur',
        paragraph_blockname: section_base_class,
        paragraph_modifiers: ['description']
      } %}
    </div>

    <div class="{{ section_base_class }}__actions">
      {% include "@atoms/buttons/button.twig" with {
        button_content: 'VER RECURSOS MULTIMEDIA',
        button_url: button_url,
        button_modifiers: ['primary', 'large'],
      } %}
    </div>

  </div>
</section>